.title {
  text-align: center;
  color: #333;
  margin-bottom: 2rem;
}
.searchWrapper {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 0.5rem;
  margin-bottom: 1.2rem;
}
.searchInput {
  border-radius: 0.3rem;
  font-size: 1rem;
  border: 0.05em solid black;
}
.searchInput:focus {
  border-color: hsl(200, 100%, 50%);
  outline: none;
}

.searchTitle {
  font-weight: bold;
  font-size: 1.2rem;
}

.listWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}
.infoText {
  font-weight: bold;
  font-style: italic;
  font-size: 1.2rem;
  color: hsl(0, 100%, 30%);
  text-align: center;
}

.btnWrapper {
  display: flex;
  justify-content: center;
}

@media (max-width: 426px) {
  .searchTitle {
    font-size: 0.9rem;
  }
  .searchInput {
    font-size: 0.9rem;
  }
  .infoText {
    font-size: 0.9rem;
  }
}
