.infoText {
  font-weight: bold;
  font-style: italic;
  font-size: 1.2rem;
  color: hsl(0, 100%, 30%);
  text-align: center;
}

.searchWrapper {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 0.5rem;
  margin-bottom: 1.2rem;
}

.searchInput {
  border-radius: 0.3rem;
  font-size: 1rem;
  border: 0.05em solid black;
}

.searchInput:focus {
  border-color: hsl(200, 100%, 50%);
  outline: none;
}
.priceWrapper {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.priceInput {
  border-radius: 0.3rem;
  border: 0.05em solid black;
  width: 100%;
  max-width: 150px;
}

.btnWrapper {
  display: flex;
  justify-content: center;
}

@media (max-width: 426px) {
  .infoText {
    font-size: 0.9rem;
  }
  .searchInput {
    font-size: 0.9rem;
  }
  .priceWrapper {
    flex-direction: column;
    align-items: center;
  }
  .priceInput {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}
