.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 80%;
  gap: 1rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.formGroup.error .msg {
  font-size: 0.8em;
  color: hsl(0, 100%, 70%);
}

.label {
  font-weight: bold;
  font-size: 1.2em;
}

.formGroup.error .label {
  color: hsl(0, 100%, 70%);
}

.input {
  all: unset;
  border: 0.05em solid black;
  border-radius: 0.25em;
  padding: 0.4em 0.75em;
  font-size: 1.2rem;
}
.input:focus {
  border-color: hsl(200, 100%, 50%);
}

.formGroup.error .input {
  border-color: hsl(0, 100%, 70%);
  color: hsl(0, 100%, 70%);
  background: hsl(0, 100%, 95%);
}
.btn {
  border: 0.05em solid #888;
  text-align: center;
  background-color: #bbb;
  border-radius: 0.25rem;
  padding: 0.5em 1em;
  cursor: pointer;
}
.btn:hover {
  background-color: #aaa;
}
